.exp-container {
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: calc(100%);
}

.exp-container:first-of-type {
  height: calc(100% - 82px);
}

.exp-container section {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exp-container section:first-of-type {
  flex-basis: 0;
  flex-grow: 5;
}

.exp-container section:last-of-type {
  flex-basis: 0;
  flex-grow: 7;
}

.exp-container h2,
.exp-container h3 {
  color: var(--dark-grey);
  font-family: Ubuntu, sans-serif;
}

.exp-container h2 {
  font-weight: 500;
  font-size: 2.2em;
  margin: 0 0 .8em 0;
}

.exp-container h3 {
  font-size: 1.1em;
  margin: 1em 0 .5em;
}

.exp-container p,
.exp-container ul,
.exp-container li {
  color: var(--grey);
  font-family: Ubuntu, sans-serif;
}

.exp-container ul {
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  -moz-margin-before: 1em;
  -moz-margin-after: 1em;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 40px;
}

.exp-container li {
  display: list-item;
  text-align: -webkit-match-parent;
  text-align: -moz-match-parent;
}

.exp-container p,
.exp-container li {
  margin: .5em 0 0;
  line-height: 1.8;
  font-size: 0.9em;
}

.exp-container img {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}